/* style.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #393E46;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
  }
  
  #p5-canvas-container {
    flex: 2;
    display: block;
    padding: 0;
    margin: 0;
  }
  
  
  #main-container {
    flex: 1;
    background-color: #222831;
    color: #EEE;
    padding: 20px;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
  }
  
  
  
  h2 {
    color: #FFD369;
  }

  
  ul {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 0.5em;
  }
  