/*
Template for IMA's Creative Coding Lab 

Project A: Generative Creatures
CCLaboratories Biodiversity Atlas 
*/

body {
    background-color: rgb(96, 105, 87);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    cursor: url('mouse.png'), auto;
}

/* title */
#title-wrapper {
    text-align: center;
}

.headline {
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 60px;
    color: white; 
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6);
}

/* main content */
#main-wrapper {
    width: 800px;
    position: relative;
    margin: auto;
}

.black {
    color: black;
}

.red {
    color: DeepPink;
    text-shadow: 0 0 5px rgba(255, 20, 147, 0.8), 0 0 10px rgba(255, 20, 147, 0.6);
}

.green {
    color: LightSeaGreen;
    text-shadow: 0 0 5px rgba(32, 178, 170, 0.8), 0 0 10px rgba(32, 178, 170, 0.6);
}

.yellow {
    color: GoldenRod;
    text-shadow: 0 0 5px rgba(218, 165, 32, 0.8), 0 0 10px rgba(218, 165, 32, 0.6);
}

.two-columns {
    display: flex;
}

.left {
    width: 50%;
    padding: 0px 10px 0px 0px;
}

.right {
    width: 50%;
    padding: 0px 0px 0px 10px;
}

#footer {
    text-align: center;
    font-size: 0.7em;
    margin-top: 60px;
    padding-bottom: 30px;
}

/* home button */
#home a {
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 5px 10px;
    color: dimgrey;
    border: solid grey 0.5px;
    font-size: 0.6em;
    text-decoration: none;
}

#home a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

/* p5.js sketch */
canvas {
    display: block;
    margin:auto;
}

#p5-canvas-container {
    margin: auto;
    width: 800px;
}
